workflows/Sponsor_Mail_Reply.json
{
  "name": "Sponsor Mail Reply",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "b1d87c80-c2e3-480a-ac4e-8794eafbb492",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "OYzTGhYFOtERwznw",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "15bba569-4e98-401d-8762-ca08537b04d9",
              "name": "Email Context",
              "value": "=Email Address:\n{{ $json.headers.from }}\n\nEmail Subject:\n{{ $json.headers.subject }}\n\nEmail Body:{{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "c7db2d49-3d94-440b-a333-518a810f80ed",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your role is to determine wheather the email is sponsorship deal or not.\nRespond with a JSON object with the following fields:\n - isSponsorship : which can be either true or false.\n - reasoning : explain your answer.\n - lead_name : Name of the person according  to the email body. Leave empty if it is not a sponsor mail.\n- lead_company : Name of the Company according  to the email body. Leave empty if it is not a sponsor mail.\n\nThink carefully about your answer.\n{{ $json['Email Context'] }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "7037ca87-06ad-441c-bbbe-4062e27efaf6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        300,
        220
      ],
      "id": "3539ea21-3343-4ccd-b10b-77d0371dcd15",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "j1zteGlD9zjravZ0",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"isSponsorship\": \"boolean\",\n\t\"reasoning\": \"string\",\n    \"lead_name\":\"string\",\n    \"lead_company\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        620,
        220
      ],
      "id": "96c59a4f-894e-487a-ad4c-0aa7201c2ba9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "6077cf57-235c-44ae-b4d1-c1861bf6dca1",
              "leftValue": "={{ $json.output.isSponsorship }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        0
      ],
      "id": "d1adf591-cd09-4c72-859e-e113ad49ffca",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        980,
        140
      ],
      "id": "36e87a99-57cc-4623-9ecf-1e6c7d866d05",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wT3YJ_YOMLx83s4__4MQqxvgY0b6wDyC6WtDIME2yhk",
          "mode": "list",
          "cachedResultName": "Email Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wT3YJ_YOMLx83s4__4MQqxvgY0b6wDyC6WtDIME2yhk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wT3YJ_YOMLx83s4__4MQqxvgY0b6wDyC6WtDIME2yhk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Gmail Trigger').item.json.headers.from }}",
            "Name ": "={{ $json.output.lead_name }}",
            "Company": "={{ $json.output.lead_company }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1020,
        -86.6484375
      ],
      "id": "21fd2873-42c0-4b7d-ad7f-257ccc22ac54",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "K4WNEnI3zgS0IJ25",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Read the below instruction and write a email carefully.\nyou a youtuber someone eamil you for sponsorship.\nso write budget and terms and conditions according to you\nwrite the email in html format except header add only body",
              "role": "system"
            },
            {
              "content": "={{ $('Edit Fields').item.json['Email Context'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1280,
        -100
      ],
      "id": "e57629b5-540b-4b2d-b6fb-cfe83876c604",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "j1zteGlD9zjravZ0",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1640,
        -100
      ],
      "id": "72259414-6a1a-4dbf-aad1-fb055a849b6c",
      "name": "Reply to a message",
      "webhookId": "f88daf5a-36e9-47c2-bbd0-e6a88abe9b38",
      "credentials": {
        "gmailOAuth2": {
          "id": "OYzTGhYFOtERwznw",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a3687147-51dc-4206-b8a9-87d7cd76fd8f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8bb27103e76aadb5b7cb425228fc1aba5486126bb54742675da5b786a64ec45"
  },
  "id": "0SI1AF3lLT3IbeDo",
  "tags": []
}